{% extends 'baseRH.html.twig' %}
{% block title %}Bilan{% endblock %}
{% block content %}
    <div id="div_chart"></div>
{% endblock %}
{% block add_script %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> <script type="text/javascript"> {{ gc_draw(piechart, 'div_chart') }} </script>
{% endblock %}