{% extends 'AboutProduct.html.twig' %}

    {% block choose %}{% endblock %}
    {% block ourProd %}{% endblock %}

    {% block title %}<title>Info Produit</title> {% endblock %}
    {% block infoProd %}
        {% if p==NULL  %}
            Pas de formation
        {% else %}


                <h3>{{ p.designation }}</h3>
                <p>{{ p.idcateg.nom }}</p> <br /><hr>
               <strong><h3>{{ p.prix }}</h3></strong>

            {{ form(f) }}


{% endif %}
{% endblock %}