<html>
<form method="POST">
    <label>Id Commande:</label><input type='number' name="idcmd" value={{ 4 }} /><br/>
    <label>Id Produit:</label><input type='number' name="idprod" value={{ 1 }} /><br/>
    <input type="number" id="qte" name="qte" min="1" /><br/>
    <input type="submit" name="Save" value="Ajouter Au Panier" /><br/>
</form>
</html>
