<html>
<head>
    <title>test</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>Product</th>
        <th>Prix Unitaire</th>
        <th>Quantity</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>

    {% for elt in lc %}
        <tr>
            <td class="td-text">
                <div class="order-dsc">
                    <p><a href="#">5555{#{{ lc.idprod.designation }}#}</a></p>
                </div>
            </td>
            <td>55555{#{{ lc.idprod.prix }}#}</td>
            <td>{{ lc.qte }}</td>
            <td>{#{{ lc.subtotal }}#}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
